


<br></br>
<div class="card custom-card text-center w-100 t-4 p-3 mx-auto">
  <div class="card-body custom-card-body">

    <div class="card-title custom-card-title">
      <div class="row">

        <div class="col-1">
          <button  type="button" class="btn btn-sm btn-outline-light" id="btnPreview" data-bs-toggle="button">Preview</button>
        </div>
        <div class="card-title custom-card-title col-11">
          <h5>
            Football Playlist 
          </h5>
          <div class="card-title custom-card-title">
            <div class="btn-group btn-group-sm" style="width: 10rem;" role="group" aria-label="Basic outlined example">
              <button  type="button" class="btn btn-sm btn-outline-light "><img src="/images/shuffle.png" alt="Avatar Logo" class="img-fluid"></button>
              <button  type="button" class="btn btn-sm btn-outline-light "><img src="/images/back.png" alt="Avatar Logo"  class="img-fluid"></button>
              <button  type="button" class="btn btn-sm btn-outline-light "><img src="/images/play.png" alt="Avatar Logo"  class="img-fluid"></button>
              <button  type="button" class="btn btn-sm btn-outline-light "><img src="/images/next.png" alt="Avatar Logo"  class="img-fluid"></button>
            </div>
        </div>
        </div>
      </div>
    </div>

    <div id="audioContainer" class="list-group">

    
    </div>
  </div>
</div>

  <script>$.drcd.loadMusicItems();</script>



  